<div ng-controller="MainCtrl">
      <input ng-model="query" type="text"
        placeholder="Filter by" autofocus><a href="#/user/" class="btn btn-primary" >ajouter&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
<div ng-repeat="user in users | filter:query |orderBy: 'name'"><a ng-href="#/user/{{user.name}}/{{user.surname}}/{{user.id}}">{{user.name}} {{user.surname}}</a></div>

</div>