<div ng-controller="ProjectsCtrl">
      <input ng-model="query" type="text"
        placeholder="Filter by" autofocus><a href="#/project/" class="btn btn-primary" >ajouter&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
<div ng-repeat="project in projects | filter:query |orderBy: 'id'"><a ng-href="#/projects/{{project.title}}/{{project.id}}">{{project.title}}</a></div>

</div>