<div ng-controller="ProjectCtrl">
<span ng-hide="editmode"> {{project.title}}<br/> 
Description: {{project.description}}<br/>
year: {{project.year}} <br />
</span>
<span ng-show="editmode">

	<input type="text" ng-model="project.title">
 <p> Description : <textarea class="form-control" ng-model="project.description" type="text"> </textarea></p>
<p> Start year : <input class="form-control" ng-model="project.year" type="number"></p>

</span>
<TABLE class="table">
<th>Nom</th><th>Role(s)</th><th></th><th></th>
<tr ng-repeat="user  in users">
<td>{{user.name}} {{user.surname}}</td><span ng-repeat="role in roles | filter:user.id"><td> {{role.name}} <a ng-click="deleteUser(user.id)" class="btn btn-danger">supprimer</button><a ng-href="#/role/{{role.id}}" class="btn btn-primary">editer</a></td></span>
</tr>
</TABLE>
<button ng-click="addRoleUser()" class="btn btn-primary">ajouter</button><br/><br/>
<button class="btn btn-primary" ng-click="toggleEdit()">{{buttonText}}&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
<button class="btn btn-warning" ng-click="cancel()" ng-show="editmode">Annuler&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
<div class="btn btn-danger" ng-click="delete()">Supprimer&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
</div>