<h3> Adding role </h3>
<div>
<form class="navbar-form" novalidate>
<p> Role name : <input class="form-control" ng-model="role.name" type="text"></p>
<span ng-show="createmode"><p> User : <select ng-options="user.id as user.surname + ' ' + user.name for user in users" ng-model="currentUser.id" class="form-control" type="text"> </select></p>
<p> Project : <select ng-options="project.id as project.title for project in projects" ng-model="currentProject.id" class="form-control" type="text"> {{project.id}} </select></p></span>
<input value="Add role" class="btn btn-success" ng-click="createRole(role, currentUser, currentProject)" type="submit">
</form>
</div>
