<div ng-controller="UserCtrl">
<span ng-hide="editmode"> {{user.surname}} {{user.name}} <br />
<span ng-show="user.email != null">Email: {{user.email}}<br /></span>
<span ng-show="user.website != null">Website: {{user.website}}<br /></span>
<span ng-repeat="role in roles"><a ng-href="#/role/{{role.id}}">{{role.name}}</a> <a ng-href="#/proje	cts/{{role.ProjectId}}">(projet)</a></span></br></span>
<span ng-show="editmode">
	<input type="text" ng-model="user.surname">
	<input type="text" ng-model="user.name">
	<input type="text" ng-model="user.email"><br />
	<input type="text" ng-model="user.website"><br />
</span>
<button class="btn btn-primary" ng-click="toggleEdit()">{{buttonText}}&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
<button class="btn btn-warning" ng-click="cancel()" ng-show="editmode">Annuler&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
<div class="btn btn-danger" ng-click="delete()">Supprimer&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
</div>